<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input
            type="file"
            class="form-control"
            id="coverImage"
            name="coverImage"
            aria-describedby="coverImage"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="title"
          />
        </div>
        <div class="mb-3">
          <label for="body">Body</label>
          <textarea name="body" class="form-control" id="body"></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <%- include('./partials/scripts') %>
SET AWS_REGION=eu-west-3
SET AWS_ACCESS_KEY_ID=ASIAVJWRSLJGPYXHCSFP
SET AWS_SECRET_ACCESS_KEY=AxOKC5pLDyOKp5TGP0KVTLuCEKftGth6XbZI9oOF
SET AWS_SESSION_TOKEN=IQoJb3JpZ2luX2VjEAcaCmFwLXNvdXRoLTEiRjBEAiBIGXPZUZo2R0O9HFmpM1Dtjdl1yrKaR7DuA1tZh5J1zQIgNtWy2UP8vMKhLcTOXCnSfwKeBk6R/5NdpfE0gh71ZI8qtgIIkP//////////ARAAGgwzNjQ0Mzc5ODU4NjgiDP0T2WkZvR68LJVY5iqKAsmE+muSMsBEk8nBM8GnlXUUgT8Y7jM+2kMc4BgX9nMzLT2dlvcDMO5xWTfSVt+jUQvvAN1tqn88Q1M8WPpyizbVcqI9Nkc9fnXm8u/GWBLjhU9HYye1BjusNDcZ2lfvXH96RQX5Kfvtmto56K2179JnOjLq5fZaQV1WYswWvSlpH6uW7JegNxjQgNoN8IKmpunXbIQR92IsdlOwwNz8DzLHTOwxdqnzbHyQXdK2BCx7XmcCOKVY7D98HvtGOQ/RBFFAZ4wn+QMUj0CNxKTeIeVYD91+0K/dM5sdVH/XNupDk6AD4eO2e/rQ4Tnom4wc6f4IIrlJFt5h4CgqSKKJHFzzyTVA6VDP9dcdMOv736UGOp4BzXGh8hcIP5RlrtGXjiOMyycU+Xnzb3zGNP8dJxFvp2sJpN1isheDu6vrNjK2vNXzCpxsNnZT9CWXSpmTfsXuac/miuWBMDDuPw2nb14JPoBPCLcMbZSzXtkkMd1DnEx60grri2FP0Nmrb+wkHH+LSKh9K3RYSoXeZqWKRbH5EdnHZu8udS2xOq+M2Ncr3cdqX/YWx0QKaKuZdozF1ro=
  </body>
</html>
